*{
    box-sizing: border-box;
}

.logo{
    max-width: 100px;
}

.logo img{
    max-width: 100%;
}

.header{
    border: 1px solid red;
    height: 124px;
}

.header-box{
    border: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{
    margin: 0;
    padding: 0;
}

.main{

}

.footer{
    height: 156px;
}

.footer-box{
    border: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav{
    flex-grow: 1;
}

.container{
    height: 100%;
    max-width: 1230px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}